html, body {
  height: 100%;
}

.header, .footer {
  background-color: #eee;
  padding: 10px;
}

.view {
  padding: 60px 0px;
}

.separate {
  margin-right: 10px;
}

ul.chat {
  list-style-type: none;
  padding: 0px;
}