html, body, #root {
  width: 100%;
  height: 100%;
  /*margin: 0;
  padding: 0;*/
}

body {
  background: #444;
  color: #ccc;
  font-size: 14px;
  font-family: Courier monospace;
}

#app {
  width: 100%;
  height: 100%;
  /* flex-basis: 0%; */

  background: rgba(255, 255, 255, .1);
}

.column-area {
  height: 100%;
  display: flex;
  flex-direction: column;
  
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

#app > .column-area {
  height: auto;
  min-height: 100%;
}

.row-area {
  display: flex;
  flex-direction: row;
  
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.flexbox-item-grow {
  min-height: 0;
  min-width: 0;
  flex: 1;
}

.content {
  background: rgba(0, 0, 0, .3);
  border: 2px solid #000000;
  overflow: auto;
}

.height100 {
  height: 100%;
}

.block {
  padding: 4px;
}

.sep {
  margin: 2px;
}

.sep-r {
  margin-right: 6px;
}

.sep-b {
  margin-bottom: 6px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.form {
  margin-bottom: 0px;
}

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

#header, #footer {
  background: rgba(255, 255, 255, .8);
  color: #333;
  padding: 10px;
}

.login-form {
  width: 400px;
  margin: 0 auto;
}

#chat ul {
  list-style-type: none;
  margin: 0px;
}

a {
  cursor: pointer;
}

span.label {
  cursor: pointer;
}

#chat {
  height: 100%;
}

#chat-manager {
  display: flex;
  flex-flow: row wrap;

  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  height: 100%;
  max-height: 80px;
}

#game-manager {
  display: flex;
  flex-flow: row wrap;

  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

#main {
  padding-bottom: 50px;  /* отступ должен быть равен высоте футера */
}

#footer {
  position: relative;
  margin-top: -50px; /* отрицательное значение высоты футера */
  height: 50px;
  clear: both;
}


.clearfix:after {content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */




/* Style The Dropdown Button */
.dropdown .btn {
  width: 80px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #e6e6e6}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .btn {
    background-color: #e6e6e6;
}